<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_counter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code
{
    private int _counter = 0;

    [Parameter]
    [SupplyParameterFromQuery(Name = "initialCounter")]
    public string? InitialCounter { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (InitialCounter != null && int.TryParse(InitialCounter, out var initalCounter))
            _counter = initalCounter;
    }

    private void IncrementCount()
    {
        _counter++;
    }
}
