@using Trailblazor.Routing.Routes

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    [CascadingParameter]
    public required RouterContext RouterContext { get; set; }

    [Inject]
    private IRouterContextAccessor RouterContextAccessor { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var routerContext = RouterContextAccessor.GetRouterContext();
    }
}
