@page "/directive-component"
@page "/alternative-directive-route"
@page "/directive-component/{QueryParameter:datetime?}"

<h3>Query Parameter: @(QueryParameter?.ToString() ?? "none")</h3>

@code
{
    [Parameter]
    [QueryParameter("queryParameter")]
    public DateTime? QueryParameter { get; set; }
}
