<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div>
    <a href="counter?differentParameterName=10">
        Counter with parameter
    </a>

    <button @onclick="@(() => NavigationManager.NavigateTo("counter?differentParameterName=10"))">
        Counter with parameter using the nav-manager
    </button>

    <button @onclick="@NavigateToCounter">
        To Counter via component
    </button>
</div>

<div>
    <button @onclick="@NavigateToDirectiveComponent">
        Directive Component
    </button>
</div>
